:root{
    --is-red:red;
    --heading-ff: 'Osward', sans-serif;
    --body-ff:'Barlow', sans-serif;
  }
.about-us{
    margin-top: 100px;
}

.about-title p{
    color: var(--is-red);
    font-family: var(--body-ff);

}
.about-title h3{
    color: #fff;
    font-size: 45px;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: var(--heading-ff);


}
.about-body p{
    color: gray;
    line-height: 30px;
    font-size: 16px;
    font-family: var(--body-ff);

}

.about-us::after{
    content: "";
    display: block;
    background-image: url(https://bertcoin.io/assets/img/bg/title_shape.svg);
    width: 65px;
    height: 5px;
    margin: 7px auto 0;
}

.about-buy{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    border: 2px solid var(--is-red);
    white-space: nowrap;
    font-size: 20px;
    font-family: var(--body-ff);
    padding: 14px 35px;
    line-height: 1;
    position: relative;
    /* overflow: hidden; */
}
.about-buy:hover{
    background-color: var(--is-red);
    color: #000;
}

.about-buy::before{
    content: "";
    position: absolute;
    left: -1.5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(/src/images/doneeee-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: blue; */
    width: 15px;
    height: 48px;
    pointer-events: none;
}

.about-buy::after{
    content: "";
    position: absolute;
    right: -1.5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(/src/images/doneeee-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: blue; */
    width: 15px;
    height: 48px;
    pointer-events: none;
  
    transform: translateY(-50%) rotate(180deg);
}
.about-buy button{
   border: none;
   color: #fff;
   background-color: transparent;
   font-weight: bold;
}

.about-buy img{
    width: 30px;
    height: 30px;
}

.about-buy button:hover{
    color: #000;
}

@media(max-width:650px){

    .about-title h3{
        font-size: 30px;
    }
    .about-buy{
        font-size: 17px;
    }

    }
@media(max-width:300px){

    .about-title h3{
        font-size: 20px;
    }
    .about-buy{
        font-size: 14px;
    }
    }