.contact{
    padding-top: 250px;
    padding-bottom: 200px;
    border-bottom: 1px solid gray;
}
.contact-heading{
    font-size: 30px;
    color: white;
    font-weight: 500;
    padding: 10px 0 10px 0;
    
}

@media(max-width:1000px){
    .contact-heading{
        font-size: 15px;
    }
}
@media(max-width:400px){
    .contact-heading{
        font-size: 11px;
        
    }
    .contact{
        padding-bottom:130px;
        border-bottom: 1px solid gray;
    }
}