.footer-logo img{
    height: 170px;
    width: 150px;
    padding: 0px 0px 30px 0;
}
.footer{
    text-align: left;
    padding-top: 50px;
    margin-bottom: 100px;
}

.footer-writing>p{
    color: gray;
}

.footer-social p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    gap: 5px;
}

.footer-social>p>span{
    color: var(--is-red);
    display: flex;
    align-items: center;
}
.theFooter-social{
    color: var(--is-red);
    font-size: 20px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}


.copyright{
    background-color: #0f161b;
    padding: 30px 0 30px 0;
}

.copyright p{
    color: white;
    margin-bottom: 0;
}

.copyright p span{
    color: var(--is-red);
}

@media (max-width:450px){
   

.copyright p{
    font-size: 14px;
    margin: 0 30px;
}
}