:root{
  --is-red:red;
  --heading-ff: 'Barlow', sans-serif;
  --body-ff:'Poppins', sans-serif;
}
.main-writing{
    text-align: left;
    margin-top: 130px;
}
.main-writing p{
    font-size: 20px;
    line-height: 26px;
    color: var(--is-red);
    font-family: var(--body-ff);
    font-weight: 800;
    letter-spacing: 1px;
}
.main-writing p::before{
    content: "";
    position: absolute;
    left: -5px;
    top: -16px;
    background-image: url(/src/images/Rectangle\ 1-2.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.28;
}
.main-writing h2{
    font-size: 65px;
    font-family: var(--heading-ff);
    padding: 15px 0 40px 0;
    color: white;
    font-weight: 900;
    text-shadow: 3px 4px gray;
}
.main-img img{
    width: 100%;
    height: 100%;
}
.gap-20{
    gap:20px
}

.button{
    width: 130px;
    height: 50px;
    border: none;
    background-color: var(--is-red);
    color: #000;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 16px;
    position: relative;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    
    /* overflow: hidden; */
  }
  
  .button::before{
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: var(--is-red);
    top: 6px;
    right: -17px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    
    transform: rotate(45deg);
    
    
    
  }
  .button::after{
      content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: var(--is-red);
    top: 6px;
    left: -17px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    
    transform: rotate(45deg);
    
    
    
  }

  .button:hover{
    background-color: #fff;
    
    animation-duration: 0.5s;
  }

  .button:hover::after{
    background-color: white;
    
    
  }
  .button:hover::before{
    background-color: white;
    
    
  }

  /* .button::before:hover{
    background-color: white;
    border-top: 2px solid var(--is-red);
    border-right: 2px solid var(--is-red);
  } */

 
  .buy-button{
    align-items: left;
    margin-left: 18px;
  }

  .slider-shape img{
    position: absolute;
    animation: shapeBlinker 1.5s linear infinite;
    opacity: 0;
    z-index: -1;
  }
  .slider-shape img:nth-child(1){
    left: 5%;
    top: 7%;
    animation-delay: 0.2s;
    width: 6%;
  }
  .slider-shape img:nth-child(2){
    left: 12%;
    bottom: 39%;
    animation-delay: 0.4s;
    width: 13%;
  }
  .slider-shape img:nth-child(3){
    right: 47%;
    top: 16%;
    animation-delay: 0.2s;
    width: 5%;
  }
  .slider-shape img:nth-child(4){
    right: 47%;
    top: 68%;
    animation-delay: 0.6s;
    width: 5%;
  }
  .slider-shape img:nth-child(5){
    right: 22%;
    bottom: 10%;
    animation-delay: 0.6s;
    width: 4%;
  }
  .slider-shape img:nth-child(6){
    left: 5%;
    bottom: 8%;
    animation-delay: 0.6s;
    width: 6%;
  }
  .slider-shape img:nth-child(7){
    right: 22%;
    top: 6%;
    animation-delay: 0.6s;
    width: 4%;
  }

  .cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: var(--is-red);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
  }
  

  @keyframes shapeBlinker {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }

  .slider-area{
    position: relative;
   padding-bottom: 10%;
  }

  .slider-area::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background-color: var(--is-red);
    height: 50px;
  }
  .slider-area::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-color: var(--is-red);
    height: 50px;
  }




  @media (max-width: 979px){
    .main-writing{
        text-align: center;
        padding-bottom: 20px;
    }
    .buy-button{
        align-items: center;
      }
  }
  @media (max-width: 550px){
    .main-writing h2{
        font-size: 55px;
        color: white;
        font-weight: 600;
        text-shadow: 0px 5px gray;
    }

    .main-writing{
      margin-top: 40px;
    }

  }

  @media (max-width:775px){
    .main-writing h2{
      font-size: 40px;
    }
    
  }
  @media (max-width:350px){
    .main-writing h2{
      font-size: 30px;
    }
    .main-writing p{
      font-size: 17px;
    }
  }
