:root{
    --is-red:red;
}

header{
    background-color: #182029;
    z-index: 999;
}
.logo1{
    width: 80px;
    height: 80px;
}
.a-links a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}
.a-links a:hover{
    color: red;
}
.gap-5{
    gap: 1px;
}
.gap-10{
    gap: 10px;
}
.gap-45{
    gap: 45px;
}
.gap-50{
    gap:50px;
}


.mobile-bars{
    border: 1px solid var(--is-red);
    padding: 10px;
    cursor: pointer;
}
.fabars-m{
    color: var(--is-red);
    
}
.bars{
    cursor: pointer;
}

header.sticky{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav-button{
  width: 100px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: #fff;
  text-decoration: dashed;
  font-size: 16px;
  position: relative;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  /* overflow: hidden; */
  z-index: 99 !important;
}

.nav-button::before{
    content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: transparent;
  top: 6px;
  right: -17px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  
  transform: rotate(45deg);
 
  
}


.navbar-animation {
    transition: transform 1s ease-in;
  }
  
  /* .navbar-animation.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.3s ease-in-out; 
    transform: translateY(0%);
  } */


.nav-button::after{
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: transparent;
  top: 6px;
  left: -17px;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  
  transform: rotate(45deg);
  z-index: 99 !important;
  
}

.nav-button:hover{
    
    border-color: var(--is-red);

}

.nav-button:hover::after{
    border-color: var(--is-red);
}
.nav-button:hover::before{
    border-color: var(--is-red);
}


