.my-projects {
    justify-content: center;
  }
  .my-projects a{
    text-decoration: none;
  }
  
  .id-project {
    margin: 20px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(73, 73, 73, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background: rgba(73, 73, 73, 0.1);
    padding: 20px;
    text-align: left;
  }
  
  .id-project:hover {
    transform: translateY(-5px);
  }

  .id-project:hover .project-writing{
    color: var(--is-red);
  }
  
  .project-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .project-container {
    max-width: 100%; /* Adjust the maximum width as needed */
  }
  
  .project-img video {
    width: 100%; /* Make the video fill its container */
    height: auto; /* Maintain the aspect ratio */
  }
  
  
  .project-writing {
    padding: 20px;
    /* background-color: rgba(73, 73, 73, 0.1); */
    color: #fff;
  }
  
  .project-writing h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-writing p {
    font-size: 14px;
    line-height: 1.5;
  }
  .gap-10{
    gap: 10px;
  }

  .my-cv p{
    color: #fff;

  }
  .my-cv a{
    color: var(--is-red);
    font-size: 15px;
   
    text-decoration: none;
  }

  @media(max-width:550px){
    .id-project {
        margin: 20px;
        width: 300px;
        border-radius: 8px;
        
        overflow: hidden;
        
        background: rgba(73, 73, 73, 0.1);
        padding: 10px;
        
      }
  }