:root{
    --is-red:red;
    --heading-ff: 'Barlow', sans-serif;
    --body-ff:'Poppins', sans-serif;
  }
.section-title::after{
    content: "";
    display: block;
    background-image: url(https://bertcoin.io/assets/img/bg/title_shape.svg);
    width: 65px;
    height: 5px;
    margin: 7px auto 0;
}

.sub-title{
    color:var(--is-red);
    font-weight: 400;
    font-family: var(--body-ff);
}

.section-title h3{
    font-size: 50px;
    color: white;
    font-family: var(--heading-ff);
    font-weight: 600;
    padding: 10px 0 10px 0;
}

.item-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}
.token{
    margin-top: 170px;
}

@media(max-width:650px){

.section-title h3{
    font-size: 30px;
}
}

@media(max-width:300px){

    .section-title h3{
        font-size: 20px;
    }
    }